:root {
    --light-bg-primary: #FFFFFF;
    --light-bg-secondary: #F9FAFB;
}

.content-container {
    width: 100%;
    height: calc(100vh - 55px);
    position: relative;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}